{% extends "base.html" %}

{% block page_body %}

    <div class="content-section-b">
        <div class="container">

            <div class="row">
                <hr class="section-empty-spacer">
            </div>
            <div class="row">
                <p>Libri di: {{ user }}</p>
            </div>

            <div class="row">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>ISBN</th>
                            <th>Titolo</th>
                            <th></th>
                        </tr>
                        {% for i in books.items %}

                            <tr class="active">
                                <td>{{ i.isbn }}</td>
                                <td>{{ i.title }}</td>
                                <td><a href="details/{{ i.id }}">dettagli</a></td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>

            </div>

        </div>
    </div>

{% endblock %}